@import url('https://fonts.googleapis.com/css2?family=Inconsolata&amp;display=swap');

.container{
	width: 1034px;
	margin: 20px auto;
}

#ifr, #fla {
	width: 100%;
	display: none;
	position: fixed;
	height: 100%;
	border: 0;
	margin: 0;
	padding: 0;
	background: white;
	z-index: 3;
}

.clickable {
	color: #57b4ff;
	cursor: pointer;
}
.clickable:hover {
	text-decoration: underline;
}

.util, .util-v86-screen {
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
	align-content: center;
	justify-content: center;
}

.util {
	background: #fff;
}

.util_close {
	position: absolute;
	display: none;
	width: 20px;
	height: 15px;
	right: 20px;
	top: 3px;
	background: rgb(81, 169, 241);
	border-radius: 5px;
	border: 2px solid rgb(255, 255, 255);
	font-size: 15px;
	line-height: 15px;
	text-align: center;
	cursor: pointer;
	z-index: 31;
	transition: ease-in-out 0.1s;
}

.util_close:hover {
	background: rgb(114, 193, 255);
}

.util-v86-screen {
	background: #000 url('dark.svg');
}

.util-v86-text {
	position: relative;
	background: #000;
	font-family: 'Inconsolata', monospace;
	font-smooth: never;
	-webkit-font-smoothing: none;
	font-size: 14px;
	white-space: pre;
	font-variant-numeric: tabular-nums;
	line-height: 15px;
	height: max-content;
	width: max-content;
	margin: 5% auto;
}

.util-v86-vga {
	position: absolute;
	display: block;
	margin: 5% auto;
	/*width: calc(100vh - 20px - 44px);*/
	height: unset;
}

#vm-toolbar {
	position: absolute;
	display: none; /* set to flex when open */
	width: 100%;
	height: 25px;
	background: #FFF;
	z-index: 10;
}

.dropdown-button {
	width: 105px;
	height: 23px;
	text-align: center;
	line-height: 25px;
	font-size: 13px;
	font-family: Arial;
	color: #6D6D6D;
	border: 1px solid transparent;
	cursor: default;
	user-select: none;
	display: block;
}

.dropdown-button:hover {
	color: #000;
	background-color: #E5F3FF;
	border-color: #CCE8FF;
}

.dropdown-button[open~='true'] {
	color: #000;
	background-color: #CCE8FF;
	border-color: #99D1FF;
}

.dropdown-menu {
	position: absolute;
	display: block;
	width: 107px;
	height: max-content;
	top: 25px;
	color: #000;
	font-size: 13px;
	font-family: Arial;
	user-select: none;
	line-height: 25px;
	text-align: center;
	margin-left: -1px;
}

.dropdown-menu-button {
	width: calc(100% - 2px);
	height: 25px;
	background: #F2F2F2;
	border: 1px solid #CCC;
	border-top: none;
}

.dropdown-menu-button:hover {
	background: #90C8F6;
}

@media only screen and (max-width: 1078px) {
	.container > h3 {
		font-size:25px;
		text-align: center;
	}
}